/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;

}

/* Style the header and navigation */
header {
    background-color: #eaf2f8;
    color: #fff;
    height:75px;
    background-image: url('images/hgrey.jpeg'); /* Replace with your image file name and extension */
    background-size: cover; /* Adjust as needed: 'cover', 'contain', or specific dimensions */
    background-position: center; /* Adjust as needed: 'center', 'top', 'left', etc. */
    background-repeat: no-repeat; /* Prevent repeating for a single background image */
    /* Add other styles as needed */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Example CSS for Responsive Navigation */
@media only screen and (max-width: 600px) {
    .navbar {
        flex-direction: column; /* Change to column layout on small screens */
    }

    .nav a {
        width: 100%; /* Make links take full width on small screens */
        margin: 5px 0; /* Adjust margin for spacing */
    }
}

/* TICKER STYLING */
.ticker-container {
    overflow: hidden;
    height: 20px; /* Adjust the height as needed */

}

.ticker {
    color:red;
    display: inline-block;
    white-space: nowrap;
    animation: tickerAnimation 10s linear infinite;
    padding-left: 100%; /* Start off-screen */
    letter-spacing: 5px; /* Adjust the letter-spacing as needed */
    font-weight:bolder; /* Make the text bold */
}

@keyframes tickerAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
/*END HERE FOR TICKER STYLING*/


.hamburger-menu {
    display: block; /* Hide initially on larger screens */
    margin-right: 20px;
    margin-bottom: auto;
    margin-top: 10px;
    background-color: #17202a;
}

.hamburger-menu:hover{
    background-color: #f48f0a;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}
/* Media query to show burger menu on small screens */
@media only screen and (max-width: 600px) {
    .burger-menu {
        display: flex;
        flex-direction: column;
    }

    .burger-menu .bar {
        background-color: #fff;
        height: 3px;
        margin: 6px 0;
        width: 25px;
    }
}

.logo {
    font-size: 24px;
    font-weight: bold;
	margin-right: 20px;
}


.search-bar {
    flex: 1;
    display: flex;
    padding: 10px;
	margin-right: 40px;
}

.search-bar input {
    width: 60%;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
}

.nav-buttons {
    flex: 1;
    display: flex; /* Use flex display for alignment */
    align-items:center;
}

button {
    font-size: 12px; /* Adjust the font size as needed */
    background-color: #5c5a5a;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    width: 140px;
    flex:1;
    margin-right: 10px;
    /* Add the following styles for consistent button height */
    white-space: nowrap; /* Prevent text from wrapping to the next line */

}

register-button {
    font-size: 12px;
    background-color: #5c5a5a;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    cursor: pointer;
    flex:1;
    margin-right: 10px; /* Adjust margin between buttons */
}

/* Style for the "Register" button */
.register-button a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.register-button a.active,
.register-button a:hover {
    background-color: #f48f0a; /* Orange color for hover and active state */
}

/* Add a style for the "Register" button when on the registration page */
.registration-page .register-button a {
    background-color: #f48f0a; /* Orange color for the active state */
}

/* Apply consistent styling for buttons */
button, .form-section button, .register-button a {
    background-color: #5c5a5a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s; /* Add a smooth transition effect */
}

/* Change button background color on hover */
button:hover, .form-section button:hover, .register-button a:hover {
    background-color: #f48f0a; /* Adjust the hover color as needed */
}


button:hover {
    background-color: #f48f0a; /* Change color on hover */
}



/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    .nav-buttons {
        flex-direction: column; /* Change to column layout on small screens */
        align-items: flex-start; /* Align items to the start of the column */
    }

    button,
    register-button {
        margin-right: 0; /* Remove margin for better spacing in column layout */
        margin-bottom: 10px; /* Add margin between buttons in column layout */
    }
}
/* Apply a different style to the active button (Housing) */

button.active{
    background-color: #f48f0a;
}
.user-icon {
    margin-left: 60px; /* Adjust the margin as needed */
    border:1px #f48f0a;
}

.secondary-nav {
    background-color: #333; /* Set the background color of the secondary navigation */
    color: #fff; /* Set the text color */
    text-align: center; /* Center-align the text in the navigation bar */
    padding: 10px 0; /* Add padding for better aesthetics */
    border: 1px solid #ddd; /* Add a light border */
}

.secondary-nav a {
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* Set the text color for links */
    padding: 10px 20px; /* Add padding to each link */
    margin: 0 10px; /* Add margin between links for spacing */
    border-radius: 5px; /* Add rounded corners to links */
}

.main-content {
    display: grid;
    grid-template-columns: 17% 66% 17%;
    align-items: stretch; 
    flex: 1; 
    min-height:850px;
}

.left-sidebar, .right-sidebar, .center-content {
    padding: 20px;
    background-color: #f5f5f5;
    border: 2px solid #ddd; 
}

.left-sidebar {
    /* Styles for the left sidebar */
}

.center-content {
    /* Existing styles for center-content */
   
}

.right-sidebar {
    /* Styles for the right sidebar */
}
.wide-image-container {
    padding: 20px;
    text-align:center;
    object-fit:cover;

}

.wide-image img {
    max-width: 100%;
    height: 100%;
    
}
.remaining-text {
    flex: 1;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd; /* Add a border */
    margin-top: 10px;
    margin-bottom: 0;
    font-size:medium;
}

.left-sidebar {
    /* Styles for the left sidebar (25% width) */
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    
    
}

.left-nav {
    /* Styles for the left navigation */
}

.left-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.left-nav li {
    margin-bottom: 17px;
}

.left-nav a {
    text-decoration: none;
    color: #333;
}


.side-section {
    /* Styles for the side section (25% width) */
    flex-direction: column;
    align-items: flex-end;
}

.link-box,
.social-box {
    /* Styles for the 75% and 25% height boxes */
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    align-items: flex-end;
    max-height: 700px; /* Set a maximum height */
    overflow-y: auto; /* Add a vertical scrollbar if content exceeds the maximum height */
}


.links,
.social-links {
    margin-bottom: 123px;
    list-style: none;
    padding: 0;
}

.links li,
.social-links li {
    margin-bottom: 3px;
}

.links a,
.social-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.social-links img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* Push the social links box to the bottom */
.social-box {
    margin-top: auto;
    align-items: flex-end;
    max-height: 145px; /* Set a maximum height */
    overflow-y: auto; /* Add a vertical scrollbar if content exceeds the maximum height */
}
.flowchart {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.node {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow::before {
    content: '';
    width: 20px;
    height: 1px;
    background-color: #ccc;
    margin: 0 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center-contentt {
    display: flex;
    flex-direction:column; /* Set the direction to column */
    align-items:center; /* Center-align items horizontally */
    padding: 20px;
    background-color: #f5f5f5;
    border: 2px solid #ddd;
}


.cardd {
    width: 100%; /* Make each card take the full width of the container */
    border: 1px solid #ddd; /* Add a border around each card */
    padding: 10px; /* Add padding inside the card */
    box-sizing: border-box; /* Include padding and border in the card's total width */
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 8px;
}
.cardd img {
    border-bottom: 1px solid #ddd;
}

.factor-list {
    padding: 20px;
    text-align: left;
}

.factor-list li {
    list-style: none;
    margin-bottom: 10px;
}

/* Responsive layout for smaller screens */
@media screen and (max-width: 768px) {
    .center-contentt {
        flex-direction: column;
        align-items: center;
    }

    .cardd {
        width: 100%;
    }
}
h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}
.main-content-exp {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: stretch; 
    flex: 1; 
    background-color: #f5f5f5;
    padding: 20px;
    background-color: #f5f5f5;
    border: 2px solid #ddd;
}
.left-sidebar-exp {
    /* Styles for the left sidebar (75% width) */
    padding: 20px;
    border: 2px solid #ddd; /* Add a border around each card */
    box-sizing: border-box; /* Include padding and border in the card's total width */
    overflow-y:auto; /* Enable vertical scrolling for the left sidebar */ 
    background-color: #f5f5f5;
    min-height: 800px; /* Adjust as needed */

}
/* Add a heading for the left sidebar */
.left-sidebar-exp h2 {
    margin-top: 25px;
    font-size: 26px;
    margin-bottom: 10px;
}
.right-sidebar-exp {
    /* Styles for the left sidebar (25% width) */
    border: 2px solid #ddd; /* Add a border around each card */
    padding: 20px; /* Add padding inside the card */
    box-sizing: border-box; /* Include padding and border in the card's total width */
    background-color: #f5f5f5;
    min-height: 800px; /* Adjust as needed */

}

.main-content-housing {
    display:flex;
    flex-direction: row;
    align-items: stretch; 
    background-color: #f5f5f5;
    padding: 20px;
    background-color: #f5f5f5;
    border: 2px solid #ddd;
}
.center-content-housing {
    display: flex;
    flex-direction: row; /* Set the direction to column */
    align-items: center; /* Center-align items horizontally */
    padding: 20px;
    background-color: #f5f5f5;
    border: 2px solid #ddd;
}
.left-sidebar-housing,
.right-sidebar-housing {
    flex: 1;
    padding: 20px;
    border: 2px solid #ddd;
    box-sizing: border-box;
    background-color: #f5f5f5;
    overflow-y: auto;
}
.right-sidebar-housing {
    margin-left: 10px; /* Add some margin between the two sidebars */
}
.bubble {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px;
    margin: 5px;
}
.bubble:hover {
    background-color: #f48f0a;
}

    /* Modal styles */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 50px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.9);
    }

    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        max-height: 80%;
    }

    /* Close button styles */
    .close {
        position: absolute;
        top: 15px;
        right: 15px;
        color: white;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
    }

    /* Scaling effect on hover */
    img {
        transition: transform 0.2s, border 0.2s, box-shadow 0.2s;
        cursor: pointer; /* Add cursor pointer on hover */
        position: relative; /* Ensure the :before pseudo-element is positioned relative to the img */
        border: 3px solid transparent; /* Border initially transparent */
    }

    img:hover {
        transform: scale(1.05);
        border: 3px solid #ff8c00; /* Highlight color for the border */
        box-shadow: 0 0 10px rgba(255, 140, 0, 0.7); /* Optional shadow effect */
    }

    /* Visual indicator for clickable images */
    img:before {
        content: '\1F50E'; /* Unicode icon for magnifying glass */
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ff8c00; /* Highlight color for the magnifying glass icon */
        opacity: 0.7;
        transition: opacity 0.2s;
    }

    img:hover:before {
        opacity: 1;
    }
    /* Tooltip styles */
    .tooltip {
        position: absolute;
        background-color: #ff8c00; /* Tooltip background color */
        color: white;
        padding: 8px;
        border-radius: 4px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    /* Show tooltip on hover */
    img:hover + .tooltip {
        opacity: 1;
    }
  /* CSS styles for the improved bubble list */
  .bubble-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bubble-list li {
    position: relative;
    margin-bottom: 40px; /* Adjust spacing between bubbles */
}

.bubble-list span {
    display: inline-block;
    background-color: #ff8c00; /* Orange color */
    color: #fff;
    border-radius: 20px; /* Make it a full bubble */
    padding: 15px 25px;
    position: relative;
}

.bubble-list span:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #ff8c00 transparent transparent transparent;
    left: 50%;
    transform: translateX(-50%);
    top: 30px; /* Adjust the space between bubbles and arrows */
}

.bubble-list span:after {
    content: "";
    position: absolute;
    width: 30px; /* Adjust the arrow width */
    height: 15px; /* Adjust the arrow height */
    background-color: #ff8c00;
    left: 50%;
    transform: translateX(-50%);
    top: 30px; /* Adjust the space between bubbles and arrows */
}
/* Set a minimum height for sections with smaller content */
#applicationProcessContent,
#afterAllocationFormalitiesContent, #registrationForm {
    min-height: 712px; /* Adjust as needed */
}
#center {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f5f5f5;
    border: 2px solid #ddd;
}
.listing-card,
.factors-card {
    width: 49%; /* Adjust width as needed */
    border: 1px solid #ddd; /* Add border for aesthetic */
    background-color: #f5f5f5; /* Adjust as needed */
    padding: 20px;
}
.listing-card h4,
.factors-card h4 {
    margin-bottom: 10px;
}
.listing-card p,
.factors-card p {
    margin-bottom: 0;
}

.listing-card {
    background-color: #f0f0f0; /* Adjust as needed */
}

.factors-card {
    background-color: #e0e0e0; /* Adjust as needed */
}
.heighted-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2%;
    margin-bottom: 10px;
}

.heighted-buttons button {
    background-color: #5c5a5a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    width: 40%; /* Adjust width as needed */
    margin: 0 10px; /* Add margin between buttons */
}

.heighted-buttons button:hover {
    background-color: #f48f0a;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


/* Add space between each testimonial */
.testimonial {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Additional styling for better aesthetics */
.testimonial-section {
    max-height: 500px; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Enable vertical scrolling for the testimonials */
}
/* Add space after each "Read More" button */
.testimonial button {
    margin-bottom: 20px; /* Adjust the margin as needed */
}
/* Style for the "Read More" button */
.testimonial button {
    font-size: 14px; /* Adjust the font size */
    padding: 1px 2.5px; /* Adjust the padding for top/bottom and left/right */
    background-color: #5c5a5a; /* Background color */
    color: #fff; /* Text color */
    border: 1px solid #5c5a5a; /* Border color */
    border-radius: 3px; /* Border radius for rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

/* Hover effect for the button */
.testimonial button:hover {
    background-color: #f48f0a; /* Change background color on hover */
}

.form-section {
    margin-top: 20px;
    text-align: left; /* Align the form elements to the left */
}


.form-section p {
    margin-bottom: 10px;
}

/* Style for form labels */
.form-section label {
    display: inline-block;
    width: 140px; /* Adjust the width of labels as needed */
    margin-bottom: 5px; /* Add some space between labels and input boxes */
}
.form-section input,
.form-section select,
.form-section textarea {
    width: 100%; /* Make the input boxes take the full width of their container */
    padding: 8px; /* Add padding for better visual appearance */
    margin-bottom: 10px; /* Add space between input boxes */
    box-sizing: border-box; /* Include padding and border in the input box's total width */
}

/* Style for the story textarea to make it wider in height */
.form-section textarea {
    height: 150px; /* Adjust the height as needed */

}


/* Style for the submit button */
.form-section button {
    background-color: #5c5a5a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.form-section button:hover {
    background-color: #f48f0a;
}
/* Add this to your styles.css file */

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    z-index: 1000;
    border: 2px solid #3498db; /* Border color */
}

.popup-content {
    text-align: left;
    color: #333;
    line-height: 1.6;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #555;
}

/* Style the headings inside the popup content */
.popup-content h2,
.popup-content p {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

/* Style the lines between the information */
.popup-content p::before {
    content: "•";
    margin: 0 8px;
    color: #555;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 45%;
    height: 200px; 
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.hglt {
    display: block;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 30px; 
    background-color: #5c5a5a;
    color: #fff;
}

.main-content-academic {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:20px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: stretch; 
    flex: 1; 
    min-height:850px;
}
/* Style for each content section */
.content-section {
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
}
.main-content-academic .content-section {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.main-content-academic .content-section:hover {
    transform: scale(1.05);
}

/* Styling for the bullet points in this section */
.main-content-academic ul li::before {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:20px;
    content: '\2022'; /* Bullet point */
    color: #ff8c00;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/* Adding animation to the bullet points in this section */
.main-content-academic ul li {
    margin-bottom: 10px;
    position: relative;
    opacity: 0;
    transform: translateX(-20px);
    animation: fadeInRight 0.5s forwards;
}

@keyframes fadeInRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Style for the bullet list */
.styled-list {
    list-style-type: disc; /* Use 'disc' for filled bullets or 'circle' for outlined bullets */
}

/* Hover effect for list items */
.styled-list li:hover {
    color: #ff8c00; /* Change the color on hover to your preference */
    cursor: pointer; /* Change the cursor to indicate interactivity */
}
.main-content-job-hub {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:20px;
    display: grid;
    grid-template-rows: 40% 10% 10% 10% 10% 10% 10%;
    grid-template-columns: 50% 50%;
    align-items: stretch; 
    flex: 1; 
    min-height:850px;
    border-width: 2px;
}

/* Style for the main content sections */
.main-content-job-hub .content-section {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  /* Style for the hover effect */
  .main-content-job-hub .content-section:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  /* Background image overlay for hover effect */
  .main-content-job-hub .content-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/hgrey.jpeg') center/cover;
    opacity: 0.2;
    z-index: -1;
    transition: opacity 0.3s;
  }
  
  /* Adjust opacity on hover to reveal the background image */
  .main-content-job-hub .content-section:hover::before {
    opacity:0.7;
  }
  /* Style for h2 elements on hover */
.main-content-job-hub .content-section:hover h2 {
    color: #ff8c00;
    transition: color 0.3s;
  }

  .main-content-info {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:20px;
    display: grid;
    grid-template-rows: 35% 16.25% 16.25% 16.25% 16.25%;
    grid-template-columns: 50% 50%;
    align-items: stretch; 
    flex: 1; 
    min-height:850px;
    border-width: 2px;
}

/* Style for the main content sections */
.main-content-info .content-section {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  /* Style for the hover effect */
  .main-content-info .content-section:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  /* Background image overlay for hover effect */
  .main-content-info .content-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/hgrey.jpeg') center/cover;
    opacity: 0.2;
    z-index: -1;
    transition: opacity 0.3s;
  }
  
  /* Adjust opacity on hover to reveal the background image */
  .main-content-info .content-section:hover::before {
    opacity:0.7;
  }
  /* Style for h2 elements on hover */
.main-content-info .content-section:hover h2 {
    color: #ff8c00;
    transition: color 0.3s;
  }

/* Style for the active link */
.left-nav a.active {
    color: #ff8c00;
}
/* Add this style to your existing CSS */
.highlighted-heading {
    color: #ff8c00; /* Set the desired color for the highlighted heading */
}
.story{
}
/* Style the hero section */
.hero {
    /* Add your styling for the hero section here */
}


/* Style the card section */
.card-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.cards {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: calc(25% - 20px);
    text-align: center;
}

.cards img {
    width: 100%;
    border-radius: 5px;
}

/* Style the footer */
footer {
    background-image: url('images/hgrey.jpeg'); /* Replace with your image file name and extension */
    background-size: cover; /* Adjust as needed: 'cover', 'contain', or specific dimensions */
    background-position: center; /* Adjust as needed: 'center', 'top', 'left', etc. */
    background-repeat: no-repeat; /* Prevent repeating for a single background image */
    /* Add other styles as needed */
    background-color: #eaf2f8;
    color: #17202a;
    text-align: center;
    padding: 20px;
}

.contact h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.contact p {
    font-size: 16px;
    margin: 5px 0;
}



.random-text {
    margin-top: 10px;
}

.logo-image {
    max-width: 100px; 
    max-height: 50px; 
}

.grid {
    display: grid;
    grid-template-columns: 30% 70%; 
    grid-template-rows: repeat(2, 200px); 
    grid-gap: 10px; 
    width: 99.3%; 
    margin-bottom: 20px; 
}

.small-div {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

.large-div {
    grid-column: 2; 
    grid-row: 1 / span 2; 
    background-color: #ccc;
    padding: 20px;
    text-align: center;
}


